/* Ajoutez vos styles existants ici */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    font-family:"Montserrat", sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Sanchez', serif;
    font-family: 'Poppins', sans-serif;
    background: none;
}

